<% let musicians=users.filter( el=> el.isOrg === false) %>
<div class="sm:block sm:mx-auto lg:row lg:justify-content-center mt-5">
  <div class=" w-full">

    <!--Show musicians for hire.-->
    <% let nonConnections=musicians.filter( el=> { %>
    <% return currUser.contactConfirm.indexOf(el._id)==-1 %>
    <% }) %>
        
      <h1> <%# nonConnections %> </h1>

      <h1 class="text-3xl font-bold xl:text-left ml-5 mb-10 sm:text-center">
        Musicians available for hire
      </h1>

  <div class="flex flex-wrap lg:justify-start justify-center">
    
    <% if (nonConnections.length){%>

        <%nonConnections.forEach( el=> {%>

        <% let summaryFormatted = el.summary.filter(el => el !== '').join(' | ') %>

          <div class="mx-auto sm:mb-3 w-96 rounded-lg border border-gray-200  <%= currUser.contactPending.indexOf(el._id) ? 'bg-white' : 'bg-yellow-100' %>">
            <% if (!currUser.contactPending.indexOf(el._id)){  %>
              <div class="badge badge-outline badge-accent mt-2 ml-2">wants to add you!</div>
            <%}%>
            <div class="flex flex-col items-center <%= currUser.contactPending.indexOf(el._id) ? 'py-10' : 'py-2' %>">

                <img class="mb-3 w-24 h-24 rounded-full" src="<%= el.image %>"  alt="<%= el.givenName %>'s profile picture"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 "><%= `${el.givenName} ${el.surName}`%></h5>
                <p class="text-sm text-gray-500 "><%= summaryFormatted %></p>

                <% if (currUser.contactPending.indexOf(el._id)){ %>
                  <form class="w-auto mt-5"
                    action="/connections/requestConnect/<%= el._id %>/<%= currUser._id %>/?_method=PUT"
                    method="POST">
                    <button class="mx-auto btn btn-outline btn-primary" type="submit" <%=el.contactPending.indexOf(currUser._id)==-1 ? '' : 'disabled' ; %>
                      >
                      <%= el.contactPending.indexOf(currUser._id)==-1 ? 'Connect' : 'Pending' %>
                    </button>
                  </form>
                  <%} else { %>
                    <form class="w-auto mt-5"
                      action="/connections/confirmConnect/<%= el._id %>/<%= currUser._id %>/?_method=PUT"
                      method="POST">
                      <button class="mx-auto btn btn-outline btn-primary" type="submit">Accept</button>
                    </form>
                    <% }%>
            </div>

        </div>
        
          <% }) %>
        </div>
        <%} else {%>
        <h1 class="my-6">
          No musicians are available for hire right now. Check back later.
        </h1>
        <% } %>
  </div>

</div>