<!--MUSICIAN'S VIEW-->
<% let orgs=users.filter( el=> el.isOrg === true) %>

  <% let postsConnected=posts.filter( el=> currUser.contactConfirm.indexOf(el.user) > -1 ) %>
  <% let postsUnconnected=posts.filter( el=> {%>
  <% return currUser.contactConfirm.indexOf(el.user)==-1%>
  <% })%>

  <% let orgsUnconnected = orgs.filter( org => {%>
  <% return currUser.contactConfirm.indexOf(org._id) == -1 %>
  <% }) %> 


  <section class="block">
  <% if (orgsUnconnected.length) {%>
                
    <!--unanswered postings-->
    <% orgsUnconnected.forEach(org => {%>

    <% const orgPosts = posts.filter( post => `${post.user}` == `${org._id}` ) %>
    
    <div class="rounded-lg bg-base-100 shadow-xl w-full mx-auto mb-5 flex justify-start items-center">

      <div class="h-full p-5">
        <div class="w-48">
          <img class='rounded-xl' src="https://placeimg.com/200/280/arch" />
        </div>
      </div>
      <div>

      <div>
        <div class="card-body">
          <h2 class="text-3xl">
            <%= org.orgName %>
          </h2>
          <h3 class="text-gray-500 mb-2">
            <%= `${org.city}, ${org.loc_state}` %>
          </h3>

          <% if (orgPosts.length) { %>
            <ul class="w-96">
              <% orgPosts.forEach( post => { %>
                <li class="mb-2">
                  <div class="flex justify-between">
                    <h3 class="text-lg col-8"><%= post.title %></h3>
                    <h4 class="col-3 text-sm">MM/DD/YYYY</h4>
                  </div>
                  <hr class="mb-2">
                  <h3 class="text-gray-500"><%= post.description %></h3>
                </li> 
              <% }) %>
            </ul>
            <% } else {%>
              <p class="text-sm"><%= org.orgName %> does not currently have available opportunities, <br> but you may still connect with them. </p>
            <% } %>

        </div>

        
          <div class="card-actions block pl-8">
            <% if (currUser.contactPending.indexOf(org._id)==-1){ %>
              <form class="col-1"
                action="/connections/requestConnect/<%= org._id %>/<%= currUser._id %>/?_method=PUT"
                method="POST">
                <button class="btn btn-outline btn-primary"
                  <%=org.contactPending.indexOf(currUser._id)==-1 ? '' : 'disabled' %>
                  type="submit">
                  <%= org.contactPending.indexOf(currUser._id)==-1 ? 'Connect' : 'Pending' %>
                </button>
              </form>
          <%} else { %>
            <form class="col-1"
              action="/connections/confirmConnect/<%= org._id %>/<%= currUser._id %>/?_method=PUT"
              method="POST">
              <button class="btn btn-outline btn-primary" type="submit">Accept</button>
            </form>
            <% }%>
            <div class="my-4">
              <% org.summary.filter(el => el !== '').forEach( specialty => {%>
              <div class="badge badge-accent badge-outline"><%= specialty %></div>
              <% })%>
            </div>
          </div>
        </div>
    </div>
    
  </div>
    <% })%>
        
    <%} else {%>
    <h2>No postings to display. Check back later!</h2>
    <% } %>     
    </section>
      


