<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <!--ENSEMBLE'S VIEW-->
      <% if (currUser.isOrg) { %>
        <h1>is ensemble</h1>
        <!--Show only users that are NOT orgs.-->
        <% let musicians=users.filter( el=> el.isOrg === false) %>
          <% let connections=musicians.filter( el=> { %>
            <% return currUser.contactConfirm.indexOf(el._id)> -1 %>
              <% }) %>

                <h1>
                  friends
                </h1>
                <% connections.forEach( connection=> { %>

                  <h2>
                    <%= `${connection.givenName} ${connection.surName}` %>
                  </h2>
                  <h3>
                    <%= `${connection.city}, ${connection.loc_state}`%>
                  </h3>
                  <h5>
                    <%= connection.summary%>
                  </h5>
                  <p>
                    <%= connection.bio%>
                  </p>

                  <% })%>


                    <ul>
                      <% for (let friend of currUser.contactPending) {%>
                        <% let result=users.find(el=> el._id == friend) %>
                          <% let id=result._id %>
                            <% let name=`${result.givenName} ${result.surName}`%>
                              <li>
                                <h2>
                                  <%= name %> wants to add you as a connection
                                </h2>
                                <form class="col-1"
                                  action="/post/confirmConnect/<%= id %>/<%= currUser._id %>/?_method=PUT"
                                  method="POST">
                                  <button class="btn btn-primary" type="submit">Accept</button>
                                </form>
                              </li>

                              <%}%>
                    </ul>

                    <!--MUSICIAN'S VIEW-->

                    <%}else{%>

                      <h1>is musician</h1>
                      <ul>

                      </ul>

                      <ul class="row list-unstyled">
                        <% for(var i=0; i<posts.length; i++) {%>
                          <li>
                            <h1>
                              <%= currUser.givenName%> is logged in.
                            </h1>
                            <h1>
                              <%= posts[i] %>
                            </h1>
                            <h2>
                              <%= posts[i].title %>
                            </h2>
                            <h3>
                              for the
                              <%= posts[i].description %>.
                            </h3>
                            <form class="col-1"
                              action="/post/requestConnect/<%= posts[i].user %>/<%= currUser._id %>/?_method=PUT"
                              method="POST">
                              <button class="btn btn-primary" type="submit">I'm interested!</button>
                            </form>
                            <form class="col-1" action="/post/requestConnect/<%= posts[i].user %>?_method=PUT"
                              method="POST">
                              <button class="btn btn-primary fa fa-bookmark" type="submit"></button>
                            </form>
                          </li>
                          <% } %>
                      </ul>
                      <% } %>
    </div>
  </div>
  <%- include('partials/footer') -%>