<%- include('partials/header') -%>

  <% let musicians=users.filter( el=> el.isOrg === false) %>
  <% let orgs=users.filter( el=> el.isOrg === true) %>
  <!--USER GREETING-->

    <!--Show musicians.-->
    <% let connections=musicians.filter( el=> { %>
      <% return currUser.contactConfirm.indexOf(el._id)> -1 %>
    <% }) %>
    <!--Show organizations.-->
    <% let nonConnections=musicians.filter( el=> { %>
    <% return currUser.contactConfirm.indexOf(el._id)==-1 %>
    <% }) %>

  <div class="flex justify-start relative">
  <!--Connections Bar-->
  <div class="w-96 ml-20">
  <aside class="w-96 ml-20 fixed top-20 left-0 right-0" aria-label="Sidebar">
    <%- include('partials/sidebar') -%>
  </aside>
  </div>

  <!--Display musicians OR organizations-->
  <main class="ml-10 mt-24">
    <% if (currUser.isOrg) { %>
      <%- include('partials/feedOfMusicians') -%>
    <% } else{ %>
      <%- include('partials/feedOfOrgs') -%>
    <% } %>
  </main>
</div>
  
<%- include('partials/footer') -%>