<%- include('partials/header') -%>

  <% let musicians=users.filter( el=> el.isOrg === false) %>
  <% let orgs=users.filter( el=> el.isOrg === true) %>
  <!--USER GREETING-->

    <!--Show musicians.-->
    <% let connections=musicians.filter( el=> { %>
      <% return currUser.contactConfirm.indexOf(el._id)> -1 %>
    <% }) %>
    <!--Show organizations.-->
    <% let nonConnections=musicians.filter( el=> { %>
    <% return currUser.contactConfirm.indexOf(el._id)==-1 %>
    <% }) %>

  <div class="lg:flex lg:justify-start sm:block justify-center relative">
  <!--User info-->
  <div class="w-96 lg:ml-8 mx-auto mt-32">
    <aside class="w-96 lg:ml-5 sm:block lg:fixed lg:top-20 lg:left-0 lg:right-0" >
      <%- include('partials/sidebar') -%>
    </aside>
  </div>

  <!--Display musicians OR organizations-->
  <main class="mt-24 lg:ml-10 lg:w-8/12 w-full mx-auto ml-12">
    <% if (currUser.isOrg) { %>
      <%- include('partials/feedOfMusicians') -%>
    <% } else{ %>
      <%- include('partials/feedOfOrgs') -%>
    <% } %>
  </main>
</div>
  
<%- include('partials/footer') -%>