<%- include('partials/header') -%>

  <% let musicians=users.filter( el=> el.isOrg === false) %>
    <% let orgs=users.filter( el=> el.isOrg === true) %>
      <div class="container">
        
          <!--ENSEMBLE'S VIEW-->
          <% if (currUser.isOrg) { %>
          <div class="userGreeting">
            <h1 class="mt-5">Hello, <%= `${currUser.givenName} ${currUser.surName}`%> </h1>
            <h5>You are seen as: <%= currUser.orgName%></h5>
          </div>

            <div class="row justify-content-center mt-5">
            <div class=" w-25">
            <!--Show only users that are NOT orgs.-->
            <% let connections=musicians.filter( el=> { %>
              <% return currUser.contactConfirm.indexOf(el._id)> -1 %>
                <% }) %>
                  <% let nonConnections=musicians.filter( el=> { %>
                    <% return currUser.contactConfirm.indexOf(el._id)==-1 %>
                      <% }) %>
                    <div class="connections-container">
                        <% if (connections.length){%>
                          <p class="lead">
                            You have connected with the following musicians.
                          </p>
                          <ul class="list-group">
                            <% for (let friend of currUser.contactPending) {%>
                              <% let result=users.find(el=> el._id == friend) %>
                                <% let id=result._id %>
                                  <% let name=`${result.givenName} ${result.surName}`%>
                                    <li class="list-group-item list-group-item-warning w-100 p-3">
                                      <h2>
                                        <%= name %> 
                                      </h2>
                                      <h5>wants to connect with you!</h5>
                                      <p> <%=result.summary%></p>
                                      <form class="col-1"
                                        action="/connections/confirmConnect/<%= id %>/<%= currUser._id %>/?_method=PUT"
                                        method="POST">
                                        <button class="btn btn-primary" type="submit">Accept</button>
                                      </form>
                                    </li>

                                    <%}%>
                          <% connections.forEach( connection=> { %>
                            <li class="list-group-item w-100 py-4">
                            <h2>
                              <%= `${connection.givenName} ${connection.surName}` %>
                            </h2>
                            <h3>
                              <%= `${connection.city}, ${connection.loc_state}`%>
                            </h3>
                            <h5>
                              <%= connection.summary%>
                            </h5>
                            <p>
                              <%= connection.bio%>
                            </p>
                            <p>
                              <%= connection.email %>
                            </p>
                          </li>
                            <% })%>

                          </ul>
                              <% }else{%>
                                <h4>
                                  No connections yet.
                                </h4>
                                <% } %>
                                  <!--Address pending connections-->
                                  <ul class="mx-5 border border-secondary">
                                    
                                  </ul>

                                </div>
                                </div>
                                <div class="w-75 px-5">
                                  <% if (nonConnections.length){%>
                                    <h1>
                                      Musicians available for hire
                                    </h1>
                                    <ul class="list-group">

                                      <%nonConnections.forEach( el=> {%>

                                        <li class="d-flex list-group-item <%= currUser.contactPending.indexOf(el._id) ? `` : `list-group-item-warning` %>">
                                          <div class="w-50">
                                            <h3>
                                              <%= `${el.givenName} ${el.surName}` %>
                                            </h3>
                                            <h4>
                                              <%= `${el.city}, ${el.loc_state}` %>
                                            </h4>
                                          </div>
                                          <div class="w-50">
                                            <p>
                                              <%= el.summary %>
                                            </p>
                                            <% if (currUser.contactPending.indexOf(el._id)){ %>
                                            <form class="col-1"
                                              action="/connections/requestConnect/<%= el._id %>/<%= currUser._id %>/?_method=PUT"
                                              method="POST">
                                              <button class="btn btn-primary" type="submit" 
                                              <%= el.contactPending.indexOf(currUser._id) == -1 ? '' : 'disabled'; %> 
                                              >
                                                <%= el.contactPending.indexOf(currUser._id) == -1 ? 'Connect' : 'Pending' %>
                                              </button>
                                            </form>
                                            <%} else { %>
                                            <form class="col-1"
                                                action="/connections/confirmConnect/<%= el._id %>/<%= currUser._id %>/?_method=PUT"
                                                method="POST">
                                                <button class="btn btn-primary" type="submit">Accept</button>
                                              </form>
                                            <% }%>
                                          </div>
                                        </li>


                                        <% }) %>
                                    </ul>
                                    <%} else {%>
                                      <h1 class="my-6">
                                        No musicians are available for hire right now. Check back later. 
                                      </h1>
                                      <% } %>
                                    </div>

                                </div>
                                      <!--MUSICIAN'S VIEW-->

                                      <%}else{%>
                                        <div class="userGreeting">
                                        <h1 class="text-left mt-5 w-auto display-4">Hello, <%= `${currUser.givenName} ${currUser.surName}`%> </h1>
                                        </div>
                                        <% let postsConnected=posts.filter( el=> {%>
                                          <% return currUser.contactConfirm.indexOf(el.user)> -1%>
                                            <% })%>
                                              <% let postsVirginal=posts.filter( el=> {%>
                                                <% return currUser.contactConfirm.indexOf(el.user)==-1%>
                                                  <% })%>
                                                  <div class="row justify-content-center mt-5">
                                                  <div class="p-0 w-25">
                                                    <!--Pending requests-->
                                            
                                                        <% if (postsConnected.length) {%>
                                                            
                                                            <% let orgsConnected=orgs.filter(el=> { %>
                                                              <%return currUser.contactConfirm.indexOf(el._id)> -1 %>
                                                                <%})%>
                                                                  <h5>You are connected with the following group(s):
                                                                  </h5>
                                                                  <ul class="list-group">
                                                                    <% for (let friend of currUser.contactPending) {%>
                                                                      <% let result=users.find(el=> el._id == friend) %>
                                                                        <% let id=result._id %>
                                                                          <% let name=`${result.givenName} ${result.surName}`%>
                                                                          <li class="list-group-item">
                                                                              <h2>
                                                                                <%= name %> wants to add you as a connection
                                                                              </h2>
                                                                              <form class="col-1"
                                                                                action="/connections/confirmConnect/<%= id %>/<%= currUser._id %>/?_method=PUT"
                                                                                method="POST">
                                                                                <button class="btn btn-primary"
                                                                                  type="submit">Accept</button>
                                                                              </form>
                                                                            </li>
            
                                                                            <%}%>
                                                                    <% orgsConnected.forEach( el=> {%>
                                                                      <li class="list-group-item">
                                                                      <h4>
                                                                        <%= el.orgName%>
                                                                      </h4>
                                                                      <h5>
                                                                        <%= `${el.givenName} ${el.surName}`%>
                                                                      </h5>
                                                                      <h5>
                                                                        <%= `${el.email}`%>
                                                                      </h5>
                                                                    </li>
                                                                              <% }) %>
                                                                    
                                                                              <% for (let friend of currUser.contactPending) {%>
                                                          <% let result=users.find(el=> el._id == friend) %>
                                                            <% let id=result._id %>
                                                              <% let name=`${result.givenName} ${result.surName}`%>
                                                                <li>
                                                                  <h2>
                                                                    <%= name %> from <%= result.orgName%> wants to add you as a connection
                                                                  </h2>
                                                                  <form class="col-1"
                                                                    action="/connections/confirmConnect/<%= id %>/<%= currUser._id %>/?_method=PUT"
                                                                    method="POST">
                                                                    <button class="btn btn-primary"
                                                                      type="submit">Accept</button>
                                                                  </form>
                                                                </li>

                                                                <%}%>
                                                                  </ul>

                                                          <%} else {%>
                                                              <h5>You aren't connected to any ensembles.</h5>
                                                              <% if (currUser.contactPending.length){%>
                                                                <ul class="list-group">
                                                                  <% for (let friend of currUser.contactPending) {%>
                                                                    <% let result=users.find(el=> el._id == friend) %>
                                                                      <% let id=result._id %>
                                                                        <% let name=`${result.givenName} ${result.surName}`%>
                                                                          <li class="list-group-item list-group-item-warning">
                                                                            <p>
                                                                              <strong><%= `${name}` %> </strong> from <%= `${result.orgName}` %> 
                                                                              wants to add you as a connection
                                                                            </p>
                                                                            <form class="col-1"
                                                                              action="/connections/confirmConnect/<%= id %>/<%= currUser._id %>/?_method=PUT"
                                                                              method="POST">
                                                                              <button class="btn btn-primary"
                                                                                type="submit">Accept</button>
                                                                            </form>
                                                                          </li>
          
                                                                          <%}%>
                                                                </ul>
                                                                <%}%>
                                                            <% } %>
                                                          </div>
                                                            <div class="w-75 px-5">
                                                              <% if (postsVirginal.length) {%>
                                                                <h2>Available postings:</h2>
                                                                <!--unanswered postings-->
                                                                <ul class="list-group">
                                                                  <% for(var i=0; i<postsVirginal.length; i++) {%>
                                                                    <% let orgInfo=orgs.find( el=> {%>
                                                                      <% return `${el._id}`==`${postsVirginal[i].user}`})%>
                                                                        <li class="list-group-item px-5 d-flex flex-row ">
                                                                          <div class="w-50">
                                                                          <h2 class="display-6">
                                                                            <%= postsVirginal[i].title %>
                                                                          </h2>
                                                                          <h3>
                                                                            <%= orgInfo.orgName %>
                                                                          </h3>
                                                                          <h3>
                                                                            <%= `${orgInfo.city}, ${orgInfo.loc_state}` %>
                                                                          </h3>
                                                                        </div>
                                                                          <div class="w-50">
                                                                            <p>
                                                                              <%= postsVirginal[i].description %>
                                                                            </p>

                                                                            <% if (currUser.contactPending.indexOf(orgInfo._id) == -1){ %>
                                                                              <form class="col-1"
                                                                              action="/post/requestConnect/<%= postsVirginal[i].user %>/<%= currUser._id %>/?_method=PUT"
                                                                              method="POST">
                                                                              <button class="btn btn-primary"
                                                                              <%= orgInfo.contactPending.indexOf(currUser._id) == -1 ? '' : 'disabled' %>
                                                                                type="submit">
                                                                                <%= orgInfo.contactPending.indexOf(currUser._id) == -1 ? 'Connect' : 'Pending' %>
                                                                              </button>
                                                                            </form>
                                                                              <%} else { %>
                                                                              <form class="col-1"
                                                                                  action="/connections/confirmConnect/<%= postsVirginal[i].user %>/<%= currUser._id %>/?_method=PUT"
                                                                                  method="POST">
                                                                                  <button class="btn btn-primary" type="submit">Accept</button>
                                                                                </form>
                                                                              <% }%>
                                                                            </div>
                                                                        </li>
                                                                        <% } %>
                                                                </ul>
                                                                <%} else {%>
                                                                  <h2>No postings to display. Check back later!</h2>
                                                                  <% } %>

                                                                </div>

                                                              </div>

                                                                    <% } %>
        
      </div>
      <%- include('partials/footer') -%>