<%- include('partials/header') -%>

  <% let musicians=users.filter( el=> el.isOrg === false) %>
  <% let orgs=users.filter( el=> el.isOrg === true) %>
  <!--USER GREETING-->

    <!--Show musicians.-->
    <% let connections=musicians.filter( el=> { %>
      <% return currUser.contactConfirm.indexOf(el._id)> -1 %>
    <% }) %>
    <!--Show organizations.-->
    <% let nonConnections=musicians.filter( el=> { %>
    <% return currUser.contactConfirm.indexOf(el._id)==-1 %>
    <% }) %>

  <div class="lg:flex sm:block justify-start relative">
  <!--Connections Bar-->
  <div class="w-96 lg:ml-20 sm:mx-auto sm:mt-32">
  <aside class="w-96 lg:ml-20 sm:block lg:fixed lg:top-20 lg:left-0 lg:right-0" >
    <%- include('partials/sidebar') -%>
  </aside>
  </div>

  <!--Display musicians OR organizations-->
  <main class="mt-24 lg:ml-10 lg:w-8/12 sm:w-full sm:mx-auto">
    <% if (currUser.isOrg) { %>
      <%- include('partials/feedOfMusicians') -%>
    <% } else{ %>
      <%- include('partials/feedOfOrgs') -%>
    <% } %>
  </main>
</div>
  
<%- include('partials/footer') -%>