<%- include('partials/header') -%>
  <div class="container">
    <div class="row mt-5">

      <h1 class="display-5 mt-3">Your profile</h1>
      <div class="w-50">
        <form action="/profile/changeSummary/<%= currUser._id%>/?_method=PUT" method="POST">
          <div class="mb-3">
            <label for="summary" class="form-label" "><h4>Change Summary (under 240 characters)</h4></label>
              <textarea class=" form-control" id="summary" name="summary" placeholder="Keep this under 240 characters."
              style="height:100px; ">
              <%= currUser.summary%></textarea>
          </div>
          <button type="submit" class="btn btn-secondary col-3">Change</button>
        </form>

        <form action="/profile/changeBio/<%= currUser._id%>/?_method=PUT" method="POST">
          <div class="mb-3 mt-3">
            <label for="bio" class="form-label">
              <h4>Change bio</h4>
            </label>
            <textarea class="form-control" id="bio" name="bio" style="height:250px"><%= currUser.bio%></textarea>
          </div>
          <button type="submit" class="btn btn-secondary col-3">Change</button>
        </form>

      </div>
      <div class="w-50 mt-4">
        <div>
          <% if (currUser.isOrg) {%>
            <p><strong>Organization Name</strong>: <%= currUser.orgName %>
            </p>
            <p><strong>Contact name</strong>: <%= `${currUser.givenName} ${currUser.surName}`%>
            </p>
            <% }else{ %>
              <p><strong>Display Name</strong>: <%= `${currUser.givenName} ${currUser.surName}` %>
              </p>
              <%}%>
                <p><strong>Location</strong>: <%= `${currUser.city}, ${currUser.loc_state}` %>
                </p>
                <p><strong>Email</strong>: <%= currUser.email %>
                </p>
                <p><strong>Summary</strong>: <%= currUser.summary %>
                </p>
                <p><strong>Bio</strong>: <%= currUser.bio %>
                </p>

                <a href="/logout" class="col-3 btn btn-secondary">Logout</a> <a class="col-3 btn btn-primary"
                  href="/feed">Return to Feed</a>
        </div>
      </div>
    </div>
    </div>

  <% if (currUser.isOrg) { %>
    <section class="d-flex mt-5 container">
      <div class="w-50 me-3">
        <h1 class="display-5">Add a post</h1>
        <form action="/post/createPost" enctype="multipart/form-data" method="POST">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title"
              placeholder="What kind of musician are you looking for?">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description"
              placeholder="Briefly describe the nature of the role."></textarea>
            <button type="submit" class="btn btn-primary">Post</button>
          </div>
        </form>
      </div>
      <div class="w-50 me-3">

        <h1>Active postings</h1>
        <ul class="list-group">
          <% for(var i=0; i<posts.length; i++) {%>

            <li class="list-group-item justify-content-between">

              <h3>
                <%= posts[i].title%>
              </h3>
              <p>
                <%= posts[i].description%>
              </p>
              <form action="/post/deletePost/<%= posts[i].id %>?_method=DELETE" method="POST">
                <button class="btn btn-primary fa fa-trash" type="submit"></button>
              </form>
            </li>
            <% } %>
        </ul>
      </div>
    </section>

    <% } %>
      <%- include('partials/footer') -%>