<%- include('partials/header') -%>
  <div class="container">
    <div class="row mt-5">

      <h2 class="display-5">User info</h2>
      <div class="w-50">
          <form action="/profile/changeSummary/<%= user._id%>/?_method=PUT" method="POST">
            <div class="mb-3">
              <label for="summary" class="form-label" "><h4>Change Summary (under 240 characters)</h4></label>
              <textarea class="form-control" id="summary" name="summary"
                placeholder="Keep this under 240 characters." style="height:100px; "><%= user.summary%></textarea>
            </div>
            <button type="submit" class="btn btn-secondary col-3">Submit</button>
          </form>
  
          <form action="/profile/changeBio/<%= user._id%>/?_method=PUT" method="POST">
            <div class="mb-3 mt-3">
              <label for="bio" class="form-label"><h4>Change bio</h4></label>
              <textarea class="form-control" id="bio" name="bio" style="height:400px"><%= user.bio%></textarea>
            </div>
            <button type="submit" class="btn btn-secondary col-3">Submit</button>
          </form>
  
        </div>
      <div class="w-50 mt-4">
        <div>
          <% if (user.isOrg) {%>
            <p><strong>Organization Name</strong>: <%= user.orgName %>
            </p>
            <p>Contact name: <%= `${user.givenName} ${user.surName}`%></p>
          <% }else{ %>
          <p><strong>User Name</strong>: <%= `${user.givenName} ${user.surName}` %>
          </p>
          <%}%>
          <p><strong>Location</strong>: <%= `${user.city}, ${user.loc_state}` %>
          </p>
          <p><strong>Email</strong>: <%= user.email %>
          </p>
          <p><strong>Summary</strong>: <%= user.summary %>
          </p>
          <p><strong>Bio</strong>: <%= user.bio %>
          </p>
          
          <a href="/logout" class="col-3 btn btn-secondary">Logout</a> <a class="col-3 btn btn-primary" href="/feed">Return to Feed</a>
        </div>
      </div>

       
    
  </div>
  </div>
  <div class="mt-5 w-50">
    <% if (user.isOrg) { %>
      <h1>THE USER IS AN Organization</h1>
      <div class="mt-5">
        <h2>Add a post</h2>
        <form action="/post/createPost" enctype="multipart/form-data" method="POST">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="What kind of musician are you looking for?">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" placeholder="Briefly describe the nature of the role."></textarea>
            <!-- </div>
          <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div> -->
            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
        </form>
      </div>
      <% } else { %>
        <h1>USER IS A MUSICIAN</h1>
        <h3>
          <%= user%>
        </h3>
        <% } %>
  </div>
      <div class="">
        <ul class="row list-unstyled">
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="col-6 justify-content-between mt-5">
              <a href="/post/<%= posts[i]._id%>">
                <img class="img-fluid" src="<%= posts[i].image%>">
              </a>
            </li>
            <% } %>
        </ul>
        <div class="row justify-content-center mt-5 w-25">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>
      </div>
  <%- include('partials/footer') -%>